<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="../css/main.css"/>
		<title>IRLcup</title>
	</head>
	<body>
		<div class="content">
			<header>
				<div align="center">
					<img src="../img/0_0.png" alt="Logo"> 
				</div>
				<nav>
					<a href="/" class="onPage">Momentální výsledky</a>
					<a href="/results">Všechny výsledky</a>
					<a href="/edit">Upravit</a>
				</nav> 
			</header>
			<div>
				<table align="center" border="2px">
					<tr>
						<th>Číslo</th>
						<th>Jméno</th>
						<th>Protivník</th>
						<th>Výsledeky</th>
						<th>Počet bodů</th>
						<th>Postupuje</th>
					</tr>
					<% for (let i = 0; i < players.next_id; i++) { %>
						<tr>
							<td rowspan="2"><%= i %></td>
							<td rowspan="2"><%= players[i].name %></td>
							
							<td><%= players[i].competitors[0].name %></td>
							<td id="status-<%= players[i].competitors[0].result %>">
							</td>
							
							<td rowspan="2"><%= players[i].points %></td>
							<td rowspan="2"><%= players[i].result %></td>
						</tr>
						<tr>
							<td><%= players[i].competitors[1].name %></td>
							<td id="status-<%= players[i].competitors[1].result %>">
							</td>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
		<script src="../js/main.js"></script>
	</body>
</html>